-
    var id = JSON.stringify( item.id ).replace(/\"/g, "")
    var name = JSON.stringify( item.name ).replace(/\"/g, "")
    var manufacturer = JSON.stringify( item.manufacturer ).replace(/\"/g, "")
    var batchno = JSON.stringify( item.batchno ).replace(/\"/g, "")
    var expiry = JSON.stringify( item.expiry ).replace(/\"/g, "")
    var price = JSON.stringify( item.price ).replace(/\"/g, "")
    var type = JSON.stringify( item.type ).replace(/\"/g, "")